@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Montserrat:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,800;9..144,900&family=Montserrat:wght@500;600;700;800;900&display=swap');

body {
    background-color: rgb(243, 235, 228);
}

.container {
    background-color: hsl(0, 0%, 100%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 600px;
    height: 450px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 8px; /* Радиус взял примерно - Откорректировать */
}

.image {
    width: 300px;
    height: 450px;
    background-image: url(./images/image-product-desktop.jpg);
    background-size: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.preview {
    margin: 30px;
}

.preview-header h1 {
    color: hsl(212, 21%, 14%);
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 32px;
    font-family: Fraunces, serif;
    font-weight: 700;
    font-size: 2em;
}

.preview-header h4 {
    color: hsl(228, 12%, 48%);
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Montserrat, serif;
    font-weight: 500;
    font-size: 0.8em;
    letter-spacing: 4px;
}

.preview-paragraph {
    color: hsl(228, 12%, 48%);
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-family: Montserrat, serif;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 20px;
}

.preview-price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
        
}

.correct-price p {
    color: hsl(158, 36%, 37%);
    font-family: Fraunces, serif;
    font-size: 2.2em;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.first-price p {
    color: hsl(228, 12%, 48%);
    font-family: Montserrat, serif;
    text-decoration: line-through;
    font-size: 0.9em;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.preview-button {
    width: 240px;
    background-color: hsl(158, 36%, 37%);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
}

.preview-button:hover {
    background-color: hsl(158, 45%, 18%);
    cursor: pointer;
}

.preview-button-img {
    margin-left: 60px;
    margin-right: 5px;
}

.preview-button-text {
    font-family: Montserrat, serif;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    text-align: left;
    padding-left: 10px;   
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 480px) {

    body {
        margin: 0;
    }
   
    
    .container {
        display: grid;
        grid-template-rows: 1fr auto;
        grid-template-columns: 0;
        width: 359px;
        height: auto;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .image {
        width: 359px;
        height: 251px;
        background-image: url(./images/image-product-mobile.jpg);
        border-top-left-radius: 8px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 0px;
    }

    .preview {
        margin: 0px;
        width: 359px;
    }

    .preview-header h1 {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 5px;
    }

    .preview-header h4 {
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 5px;
    }

    .preview-paragraph {
        width: 300px;
        margin-right: 30px;
        margin-bottom: 5px;
        margin-left: 30px;
    }

    .correct-price p {
        margin-top: 10px;
        margin-left: 30px;
        margin-bottom: 10px;
    }

    .first-price p {
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .preview-button {
        grid-template-columns: 115px 2fr;
        width: 315px;
        margin-top: 10px;
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .preview-button-img {
        text-align: right;
        padding-right: 0px;
        margin-right: 0px;
    }
    
    .preview-button-text {
        font-family: Montserrat, serif;
        font-weight: 500;
        color: hsl(0, 0%, 100%);
        text-align: left;
        padding-left: 10px;   
    }
    

       

}